<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">

    <sitecore>
        <sites>
            <site name="Site1" patch:after="site[@name='modules_website']"
              targetHostName="Site1.com"
                  hostName="Site1.com"
                 enableTracking="true" virtualFolder="/" physicalFolder="/"
              rootPath="/sitecore/content/Sites/Site1"
              startItem="/Site1_LandingPage"
                database="web" domain="site1"
              allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0"
              viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB"
              enablePreview="true" enableWebEdit="true" enableDebugger="true"
              disableClientData="false" cacheRenderingParameters="true"
              renderingParametersCacheSize="10MB" />


            <site name="Site2" patch:after="site[@name='modules_website']"
              targetHostName="Site2.com"
                  hostName="Site2.com"
                 enableTracking="true" virtualFolder="/" physicalFolder="/"
              rootPath="/sitecore/content/Sites/Site2"
              startItem="/Site2_LandingPage"
                database="web" domain="site2"
              allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0"
              viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB"
              enablePreview="true" enableWebEdit="true" enableDebugger="true"
              disableClientData="false" cacheRenderingParameters="true"
              renderingParametersCacheSize="10MB" />



            <site name="Site3" patch:after="site[@name='modules_website']"
              targetHostName="Site3.com"
                  hostName="Site3.com"
                 enableTracking="true" virtualFolder="/" physicalFolder="/"
              rootPath="/sitecore/content/Sites/Site3"
              startItem="/Site3_LandingPage"
                database="web" domain="site3"
              allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0"
              viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB"
              enablePreview="true" enableWebEdit="true" enableDebugger="true"
              disableClientData="false" cacheRenderingParameters="true"
              renderingParametersCacheSize="10MB" />
        </sites>
    </sitecore>

</configuration>